// HEADER
.navbar2 {
    background-color: #f5f2f2;
    position: sticky;
    top: 0;
    z-index: 800;
  
    .navbar {
      padding: 0;
      margin: auto;
      max-width: 1200px;
      overflow: hidden;
  
      .container-fluid {
        // padding: 0;
        // flex-wrap: nowrap;
  
        .navbar-brand {
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 0px;
          cursor: pointer;
          width: 100%;
          max-width: 250px;
          height: 60px;
          object-fit: contain;
        }
        @media (max-width: 800px) {
          .navbar-brand {
            max-width: 194px;
            height: 60px;
            object-fit: contain;
          }
        }
        .navbar-toggler {
          border: none;
          padding: 0px;
        }
        .navbar-toggler[aria-expanded*="false"] { // closed-menu
          .navbar-toggler-icon { // Arrow Down or Hamburger
            // background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M9.41 8.59L12 11.17l2.59-2.58L16 9l-4 4-4-4 1.41-1.41z"/></svg>');
            transform: rotate(0deg);
            background-repeat: no-repeat;
            background-position: center;
            transition: all 0.3s;
          }
        }
        .navbar-toggler[aria-expanded*="true"] { // open-menu
          .navbar-toggler-icon { // Arrow Up
            background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M9.41 8.59L12 11.17l2.59-2.58L16 9l-4 4-4-4 1.41-1.41z"/></svg>'); /* Replace with your hamburger icon SVG code */
            transform: rotate(180deg);
            width: 40px;
            transition: all 0.3s;
          }
        }
        .navbar-toggler:focus,
        .navbar-toggler:active,
        .navbar-toggler-icon:focus {
          box-shadow: none;
        }      
        input.form-control {
          width: 0px;
          font-size: small;
          background-color: transparent;
          border: none;   
          border-bottom: 1px solid transparent;       
          border-radius: 0px;
          transition: width 0.3s;
          &.expanded {
            width: 150px;
            border-bottom: 1px solid #cccccc;
            position: relative;
            left: -7px;
          }
        }
        .cart-icon{ // working in both navbar-collapse and container-fluid
            font-size: 25px;
            color: gray;
            cursor: pointer;
            position: relative;
            transition: transform .4s ease;
            border: none;
            background-color: transparent;
            margin-left: 5px;
            &:hover{
              transform: scale(1.1,1.1);
            }
        
            & .cart-item-qty{
              position: absolute;
              right: -8px;
              font-size: 12px;
              color: #eee;
              background-color: #ec7500;
              width: 18px;
              height: 18px;
              border-radius: 50%;
              text-align: center;
              font-weight: 600;
            }
          }
        .navbar-collapse {
          transition: all 0.3s ease-in;
          ul.navbar-nav {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            gap: 2rem;
            li.nav-item {
              text-transform: uppercase;
            }
          }
          @media (max-width: 800px) {
            ul.navbar-nav {
              flex-direction: column;
              margin: auto;
              gap: 1rem;
            }
            form {
              position: relative;
              padding: 10px 0px;
            }
            form>input.form-control{
              max-width: 50vw;
              &::placeholder {
                font-size: 14px;
                font-weight: 400;
                color: gray;
              }
            }
            form>input.form-control.expanded{
              width: 50vw;
            }
          }
          .navbar-collapse.show {
            .navbar-toggler-icon {
              background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M9.41 8.59L12 11.17l2.59-2.58L16 9l-4 4-4-4 1.41-1.41z"/></svg>');
              transform: rotate(90deg);
            }
          }
          .search-icon svg{ // .search-icon
            // position: absolute;
            // padding: 5px 1rem 0px 1rem;
            box-sizing: content-box;
            z-index: 2;
            height: 22px;
            width: 22px;
            color: gray;
          }
          &:hover {
            cursor: pointer;
          }
        }
        .login-button-wrapper {
          color: #7c7c7c;
          & p {
            font-size: 14px;
            margin: auto;
          }
          & .dropdown {
            padding-left: 5px;
            & svg {
              fill: #7c7c7c;
              &:hover {
                fill: #ec7500;
              }
            }
            
          }
        }
      }
    }
    
    
  }

  
  @media (max-width: 800px) {
    .navbar-toggler-wrapper {
      // border: blue solid;
      text-align: right;
      width: calc(100% - 301px);
      max-width: 100%;
      margin: 0px;
    }
    // This styling is done since calling same LoginButton component in two different places in navbar didnt execute the login process.
    .navbar-collapse.show ~ .login-button-wrapper { // select wrapper if navbar is shown
      display: flex;
      justify-content: center;
      width: 100%;
    }
    .login-button-wrapper .login-info {
      position: absolute;
      top: 3px;
      right: 10px;
    }
    .navbar-toggler {
      position: absolute;
      right: 10px;
    }
    .btn-logout {
      right: 0;
      position: inherit;
    }
  }