// If styling does not belong to a specific component, then it is in -pages- folder
@import "~bootstrap/scss/bootstrap";
@import "./custom.scss";
// COMPONENTS
@import "./components/navbar.scss";
@import "./components/footer.scss";
@import "./components/cart.scss";
@import "./components/categories.scss";
@import "./components/heroBanner.scss";
@import "./components/bestSellers.scss";
@import "./components/product.scss";
@import "./components/supportArea.scss";
@import "./components/footerBanner.scss";
// PAGES
@import "./pages/page_contact.scss";
@import "./pages/page_about.scss";
@import "./pages/page_shop.scss";
@import "./pages/page_slug.scss";
@import "./pages/page_success.scss";

// GENERAL
* {
  font-family: 'Poppins', sans-serif;
}
.btn {
  text-transform: uppercase;
  border-radius: 8px;
  padding: 16px 24px;
  background-color: #ec7500;
  color: white;
  border: 1px solid white;
  margin-top: 40px;
  font-size: 1rem;
  font-weight: 500;
  width: max-content;
  min-width: 150px;
  cursor: pointer;
  text-align: center;
  transition: 0.4s cubic-bezier(0.2, 0.1, 0.38, 1);
}
.btn-fill {
  color: white;
  background: linear-gradient(to left, #ec7500 50%, #232323 50%) right;
  background-size: 210%;
}
.btn-fill:hover {
  background-position: left;
  background-size: 210%;
  color: white;
  border: 1px solid transparent;
}
.btn-outline {
  // background-color: white;
  color: #ec7500;
  border: 1px solid #ec7500;
  background-color: transparent;
  background: linear-gradient(to left, transparent 50%, #232323 50%) right;
  background-size: 210%;
}
.btn-outline:hover {
  background-position: left;
  background-size: 210%;
  color: white;
  border: 1px solid #232323;
}
.btn-outline.btn-white-line {
  border: 1px solid white;
  color: white;
}
.btn-outline.btn-white-line:hover {
  border: 1px solid #232323;
}
.btn-navbar {
  padding: 0;
  font-size: auto;
  margin-top: 0;
  text-transform: none;
}

//! -------------------------RESPONSIVE-----------------------------------

@media screen and (max-width: 800px) {
  ::-webkit-scrollbar {
    width: 0px;
  }
}
